version: '3'
services:
  dff_bot:
    build:
      context: .
      dockerfile: Dockerfile
    image: dff_bot:foxy
    container_name: dff_bot_container
    volumes:
      - . :/dff_ws/src/dff_bot
      - /tmp/.X11-unix:/tmp/.X11-unix
    devices:
      - /dev/dri:/dev/dri
    environment:
      - ROS_DOMAIN_ID=0
      - DISPLAY=$DISPLAY
    command: ["ros2", "launch", "dff_bot", "nav2_launch.launch.py"]
    network_mode: host
    tty: true
    # stdin_open: true
