name: Code Quality Checks

on:
  push:
    branches:
      - main

jobs:
  code-quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8  # Specify your Python version

      - name: Install Pylint
        run: |
          pip install pylint==2.4.4
        working-directory: ${{ github.workspace }}

      - name: Run Python linting
        run: |
          echo "Starting now"
          pylint --rcfile=.pylintrc scripts/monitor.py || true #echo  && echo "Okay" || echo "Not okay"


          PYLINT_SCORE=$(pylint --rcfile=.pylintrc scripts/monitor.py || 0)
          echo [$PYLINT_SCORE]


          # if [ $(echo "$PYLINT_SCORE > 1.4" | bc) -eq 1 ]; then
          #   echo "Pylint score is greater than 1.4, passing the build."
          # else
          #   echo "Pylint score is not greater than 1.4, failing the build."
          #   exit 1
          # fi
        working-directory: ${{ github.workspace }}
        
