name: Code Quality Checks

on:
  push:
    branches:
      - main

jobs:
  code-quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8  # Specify your Python version

      - name: Install Pylint
        run: |
          pip install pylint
        working-directory: ${{ github.workspace }}

      - name: Run Python linting
        run: |
          pylint scripts/monitor.py  # Customize this as needed
        working-directory: ${{ github.workspace }}
